{{> _header}} {{> _banner}}
<!-- DETAIL WRAPPER -->
<div class="detail-wrapper" style="margin: 100px;">
	<div class="container">
		<div class="detail-header">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<div class="detail-category color-grey-3">Adresse, Kenitra, Morocco.</div>
					<h2 class="detail-title color-dark-2">{{tour.title}} Tour</h2>
					<div class="detail-rate rate-wrap clearfix">
				        <div class="rate">
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
							<span class="fa fa-star color-yellow"></span>
						</div>
				      	<i>Revues</i> 
			       	</div>
			    </div>
			    <div class="col-xs-12 col-sm-4">
			    	<div class="detail-price color-dark-2">Prix a partir de  <span class="color-dr-blue"> {{tour.price}} DHS</span> /personne</div>
			    </div>
	       	</div>
       	</div>
       	<div class="row padd-90">
       		<div class="col-xs-12 col-md-8">
       			<div class="detail-content color-1">
       				

					<div class="detail-content-block">
						<h3>General Information About tour</h3>
						<p>{{{tour.description}}}</p>
								
					</div>
					<div>
						{{tour.img.buffer}}
						<img src="{{tour.img}}" alt="img tour">
					</div>
					<div class="detail-content-block">
						<h3>If You Have Any Questions</h3>
	                    <div class="accordion style-2">
	                        <div class="acc-panel">
	                            <div class="acc-title"><span class="acc-icon"></span>How can I manage Instant Book settings?</div>
	                            <div class="acc-body">
									<h5>metus Aenean eget massa</h5>
									<p>Mauris posuere diam at enim malesuada, ac malesuada erat auctor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim. Suspendisse id pharetra lacus, et hendrerit mi. Praesent at vestibulum tortor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim.</p>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<ul>
												<li>Shopping history</li>
												<li>Hot offers according your settings</li>
												<li>Multi-product search</li>
												<li>Opportunity to share with friends</li>
												<li>User-friendly interface</li>
											</ul>
										</div>
										<div class="col-xs-12 col-sm-6">
											<ul>
												<li>Shopping history</li>
												<li>Hot offers according your settings</li>
												<li>Multi-product search</li>
												<li>Opportunity to share with friends</li>
												<li>User-friendly interface</li>
											</ul>									
										</div>
									</div>
	                            </div>
	                        </div>
	                        <div class="acc-panel">
	                            <div class="acc-title"><span class="acc-icon"></span>How do I list multiple rooms?</div>
	                            <div class="acc-body">
									<h5>metus Aenean eget massa</h5>
									<p>Mauris posuere diam at enim malesuada, ac malesuada erat auctor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim. Suspendisse id pharetra lacus, et hendrerit mi. Praesent at vestibulum tortor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim.</p>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<ul>
												<li>Shopping history</li>
												<li>Hot offers according your settings</li>
												<li>Multi-product search</li>
												<li>Opportunity to share with friends</li>
												<li>User-friendly interface</li>
											</ul>
										</div>
										<div class="col-xs-12 col-sm-6">
											<ul>
												<li>Shopping history</li>
												<li>Hot offers according your settings</li>
												<li>Multi-product search</li>
												<li>Opportunity to share with friends</li>
												<li>User-friendly interface</li>
											</ul>									
										</div>
									</div>
	                            </div>
	                        </div>
	                        <div class="acc-panel">
	                            <div class="acc-title"><span class="acc-icon"></span>How do I use my calendar?</div>
	                            <div class="acc-body">
									<h5>metus Aenean eget massa</h5>
									<p>Mauris posuere diam at enim malesuada, ac malesuada erat auctor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim. Suspendisse id pharetra lacus, et hendrerit mi. Praesent at vestibulum tortor. Ut porta mattis tellus eu sagittis. Nunc maximus ipsum a mattis dignissim.</p>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<ul>
												<li>Shopping history</li>
												<li>Hot offers according your settings</li>
												<li>Multi-product search</li>
												<li>Opportunity to share with friends</li>
												<li>User-friendly interface</li>
											</ul>
										</div>
										<div class="col-xs-12 col-sm-6">
											<ul>
												<li>Shopping history</li>
												<li>Hot offers according your settings</li>
												<li>Multi-product search</li>
												<li>Opportunity to share with friends</li>
												<li>User-friendly interface</li>
											</ul>									
										</div>
									</div>
	                            </div>
	                        </div>                                                                                                                        
	                    </div>											
					</div>										
				</div>       			
       		</div>
       		<div class="col-xs-12 col-md-4">
       			<div class="right-sidebar">
       				<div class="detail-block bg-dr-blue">
       					<h4 class="color-white">tour details</h4>
       					<div class="details-desc">
                  <p class="color-grey-9">Duration:  <span class="color-white">{{{tour.duration}}} days</span></p>
                  <p class="color-grey-9">price: <span class="color-white">$500 / person</span></p>
                  <p class="color-grey-9">location: <span class="color-white">paris, france</span></p>
                  <p class="color-grey-9">date: <span class="color-white">july 19th to july 29th</span></p>
                  <p class="color-grey-9">rate: <span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span><span class="fa fa-star color-yellow"></span></p>
                  
                    <ol class="color-grey-9">
                      <p class="color-grey-9">Description du sejour
                      {{#each tour.days}}
                        <li><span class="color-white">{{this}}</span></li>
                      {{/each}}
                      </p>
                    </ol>
                   
							
						</div>
						<div class="details-btn">
							<a href="#" class="c-button b-40 bg-tr-1 hv-white"><span>view on map</span></a>
							<a href="/tour/booking" class="c-button b-40 bg-white hv-transparent"><span>book now</span></a>
						</div>
       				</div>

					<div class="popular-tours bg-grey-2">
						<h4 class="color-dark-2">popular tours</h4>
						<div class="hotel-small style-2 clearfix">
							<a class="hotel-img black-hover" href="#">
								<img class="img-responsive radius-3" src="img/detail/hotel_small_1.jpg" alt="">
								<div class="tour-layer delay-1"></div>        						
							</a>
							<div class="hotel-desc">
		    					<h5><span class="color-dark-2">from <strong>$273</strong></span></h5>
		    					<h4>bristol Hotel</h4>
								<div class="hotel-loc">2 Place de la Sans Défense, Puteaux, Paris, France.</div>
							</div>
						</div>
						<div class="hotel-small style-2 clearfix">
							<a class="hotel-img black-hover" href="#">
								<img class="img-responsive radius-3" src="img/detail/hotel_small_2.jpg" alt="">
								<div class="tour-layer delay-1"></div>        						
							</a>
							<div class="hotel-desc">
		    					<h5><span class="color-dark-2">from <strong>$273</strong></span></h5>
		    					<h4>bristol Hotel</h4>
								<div class="hotel-loc">2 Place de la Sans Défense, Puteaux, Paris, France.</div>
							</div>
						</div>
						<div class="hotel-small style-2 clearfix">
							<a class="hotel-img black-hover" href="#">
								<img class="img-responsive radius-3" src="img/detail/hotel_small_3.jpg" alt="">
								<div class="tour-layer delay-1"></div>        						
							</a>
							<div class="hotel-desc">
		    					<h5><span class="color-dark-2">from <strong>$273</strong></span></h5>
		    					<h4>bristol Hotel</h4>
								<div class="hotel-loc">2 Place de la Sans Défense, Puteaux, Paris, France.</div>
							</div>
						</div>											
					</div>

					<div class="sidebar-text-label bg-dr-blue color-white">useful information</div>

					<div class="help-contact bg-grey-2">
						<h4 class="color-dark-2">Need Help?</h4>
						<p class="color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<a class="help-phone color-dark-2 link-dr-blue" href="tel:0200059600"><img src="img/detail/phone24-dark.png" alt="">020 00 59 600</a>
						<a class="help-mail color-dark-2 link-dr-blue" href="mailto:let’s_travel@world.com"><img src="img/detail/letter-dark.png" alt="">let’s_travel@world.com</a>
					</div>										      				
       			</div>       			
       		</div>
       	</div>
       	
	</div>
</div>